body {
    margin: 0; /* overwrite default margin set by browser */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.header__nav__wrapper {
    text-align: center;
    font-family: monospace;
    color: #5f5f5f;
    font-style: italic;
    font-weight: bold;
    border-bottom: 4px solid #afafaf;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.header__nav__title {
    font-size: 24px;
}
.body__wrapper {
    width: 100vw;
}
.body__userlist__wrapper {
    margin: auto;
    width: 90%;
}

.body__userlist {
    margin: auto;
    font-family: Roboto, sans-serif;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border-collapse: none;
}
.body__userlist__caption {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.body__userlist th {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}
.body__userlist td {
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 10px;
}

.body__userlist tr {
    transition: 0.1s all ease-in-out;
}

.body__userlist tr:hover {
    background: #dfdfdf;
}

.row-id {
    width: 5%;
    text-align: left;
    padding-left: 10px;
}
.row-user {
    width: 35%;
    text-align: left;
}
.row-email {
    width: 35%;
    text-align: left;
}
.row-role {
    width: 5%;
    text-align: right;
}
.body__userlist td.row-action {
    width: 20%;
    text-align: center;
    white-space: normal;
    overflow: visible;
}
.body__userlist__button-delete,
.body__userlist__button-modify {
    display: inline-block;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-weight: 400;
    margin: 0 3px 0 3px;
}
.body__userlist__button-delete {
    background-color: rgb(255, 0, 0);
    color: white;
}
.body__userlist__button-modify {
    background-color: #d0d0d0;
}
.material-icons {
    display: inline-flex;
    vertical-align: middle;
    font-size: 24px;
}

/* Ripple effect */
button {
    position: relative;
    overflow: hidden;
}

button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

button:focus:not(:active)::after {
    animation: ripple 2s ease-out;
}
