/* overwrite default margin set by browser */
body {
    margin: 0;
}

/* use system monospace font */
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.header__nav__wrapper {
    text-align: left;
    font-family: monospace;
    color: #fdfdfd;
    font-style: normal;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: #24292e;
}
.logo > i {
    font-size: 32px;
}

.header__nav__logout-button {
    margin: auto 20px auto auto;
}
.logout-button {
    min-width: 64px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(0, 219, 219);
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}

.header__nav__title {
    font-size: 24px;
    margin-left: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.body__wrapper {
    width: 100vw;
}
.body__userlist__wrapper {
    margin: auto;
    width: 90%;
}

.body__userlist {
    margin: auto;
    font-family: Roboto, sans-serif;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border-collapse: none;
    font-size: 14px;
}
.body__userlist__caption {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #a0a0a0;
}
.body__userlist th {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}
.body__userlist td {
    font-weight: 300;
    white-space: nowrap;
    overflow: auto;
    text-overflow: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.body__userlist tr {
    transition: 0.1s all ease-in-out;
}

.body__userlist tr:hover {
    background: #dfdfdf;
}

.row-id {
    width: 5%;
    text-align: left;
    padding-left: 10px;
}
.row-user {
    width: 35%;
    text-align: left;
}
.row-email {
    width: 35%;
    text-align: left;
}
.row-role {
    width: 5%;
    text-align: right;
}
.body__userlist td.row-action {
    width: 20%;
    text-align: center;
    white-space: normal;
    overflow: visible;
}
@media screen and (max-width: 480px) {
    .header__nav__wrapper {
        padding-left: 10px;
    }
    .header__nav__logout-button {
        margin: auto 5px auto auto;
    }
    .header__nav__title {
        font-size: 1rem;
    }
    .body__userlist__wrapper {
        width: 100%;
    }
    .row-id {
        width: 10%;
    }
    .row-user {
        width: 30%;
    }
    .row-email {
        width: 25%;
    }
    .row-role {
        width: 15%;
    }
}
.body__userlist__button-delete,
.body__userlist__button-modify {
    display: inline-block;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 2px 0 2px;
    font-family: Roboto;
    font-size: 0.875rem;
    min-width: 64px;
}
.body__userlist__button-delete {
    background-color: rgb(255, 0, 0);
    color: white;
}
.body__userlist__button-modify {
    background-color: #d0d0d0;
}

/* Align icon with text */
.material-icons {
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
}

/* Ripple effect */
button {
    position: relative;
    overflow: hidden;
}

button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

button:focus:not(:active)::after {
    animation: ripple 2s ease-out;
}
