Logged In!!
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<legend> User List </legend> <br>
<div class="container">
    <div class="row">
        <div class="col-sm-2"> Username </div>
        <div class="col-sm-2"> Email </div>
        <div class="col-sm-2"> Role </div>
    </div>
    {% for user in users %}
    <div class="row">
        <div class="col-sm-2">{{user.username}}</div>
        <div class="col-sm-2">{{user.email}}</div>
        <div class="col-sm-2">{{user.role[0].name}}</div>
    </div>
    {% endfor %}
</div>
