<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="./index.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="full-width">
            <table class="user-table">
                <caption class="user-table__caption">
                    User List
                </caption>
                <thead class="user-table__header">
                    <tr class="user-table__header__row">
                        <th class="user-table__header__title">User name</th>
                        <th class="user-table__header__title">Email</th>
                        <th class="user-table__header__title">Role</th>
                    </tr>
                </thead>
                <tbody class="bodyuser-table__body">
                    <tr class="user-table__body__row">
                        <td class="user-table__body__data">
                            LeNguyenHoangNhan
                        </td>
                        <td class="user-table__body__data">
                            public.hoangnhanlenguyen@gmail.com
                        </td>
                        <td class="user-table__body__data">Developer</td>
                    </tr>
                    <tr class="user-table__body__row">
                        <td class="user-table__body__data">
                            LeNguyenHoangNhan
                        </td>
                        <td class="user-table__body__data">
                            public.hoangnhanlenguyen@gmail.com
                        </td>
                        <td class="user-table__body__data">Developer</td>
                    </tr>
                    <tr class="user-table__body__row">
                        <td class="user-table__body__data">
                            LeNguyenHoangNhan
                        </td>
                        <td class="user-table__body__data">
                            public.hoangnhanlenguyen@gmail.com
                        </td>
                        <td class="user-table__body__data">Developer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
