<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UserRoleAndManagement</title>

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
            type="text/css"
        />
        <link href="../static/index.css" rel="stylesheet" type="text/css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css"
            rel="stylesheet"
        />
        <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    </head>
    <body>
        <div class="header__nav__wrapper">
            <div class="logo"><i class="material-icons">code</i></div>
            <div class="header__nav__title">
                URAM
            </div>
            <div class="header__nav__logout-button">
                <a href="/logout">
                    <button class="logout-button">Logout</button>
                </a>
            </div>
        </div>
        <div class="body__wrapper">
            <div class="body__userlist__wrapper">
                <table class="body__userlist">
                    <caption class="body__userlist__caption">
                        User List
                    </caption>
                    <thead>
                        <tr classname="body__userlist__head__row">
                            <th class="body__userlist__head__row-1 row-id">
                                ID
                            </th>
                            <th class="body__userlist__head__row-2 row-user">
                                Username
                            </th>
                            <th class="body__userlist__head__row-3 row-email">
                                Email
                            </th>
                            <th class="body__userlist__head__row-4 row-role">
                                Role
                            </th>
                            <th class="body__userlist__head__row-5 row-action">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button class="body__userlist__button-delete">
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button class="body__userlist__button-modify">
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button class="body__userlist__button-delete">
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button class="body__userlist__button-modify">
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                        <tr classname="body__userlist__body__row">
                            <td class="body__userlist__head__row-1 row-id">
                                01
                            </td>
                            <td class="body__userlist__head__row-2 row-user">
                                LeNguyenHoangNhan
                            </td>
                            <td class="body__userlist__head__row-3 row-email">
                                public.hoangnhanlenguyen@gmail.com
                            </td>
                            <td class="body__userlist__head__row-4 row-role">
                                Admin
                            </td>
                            <td class="body__userlist__head__row-5 row-action">
                                <button
                                    class="body__userlist__button-delete ripple"
                                >
                                    <span class="material-icons">
                                        delete
                                    </span>
                                    Delete
                                </button>
                                <button
                                    class="body__userlist__button-modify ripple"
                                >
                                    <span class="material-icons">
                                        edit
                                    </span>
                                    Modify
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
