<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../static/login.css" type="text/css" />
    </head>
    <body>
        <div class="form-warpper">
            <form id="login-form" method="POST">
                <h1 class="form-header">Login</h1>

                <!-- <div class="form-error">
                    <p class="form-error__items">
                        <i class="material-icons  md-18">report_problem</i>
                        Email not available
                    </p>
                </div> -->
                <input
                    type="text"
                    class="login-form__input"
                    placeholder="Email"
                    name="email"
                    required
                    pattern="[^]+@[^]+[.][a-z]{2,63}$"
                    autocomplete="email"
                    data-error="Please use a valid email address."
                    data-empty="Please fill out this field"

                />
                <input
                    type="password"
                    class="login-form__input"
                    placeholder="Password"
                    name="password"
                    required
                />
                <label class="login-form__input login-form__remeber">
                    <input type="checkbox" checked="checked" name="remember" />
                    Remember me
                </label>
                <button type="submit" class="login-form__submit">Login</button>
            </form>
        </div>
    </body>
</html>
