<div class="header__nav__wrapper">
    <div class="logo"><i class="material-icons">code</i></div>
    <div class="header__nav__title">
        URAM
    </div>
    <div class="header__nav__logout-button">
        <a href="/logout">
            <button class="logout-button">Logout</button>
        </a>
    </div>
</div>