<div class="header__nav__wrapper">
    <a href="/" class="header__nav__link">
        <div class="logo"><i class="material-icons">code</i></div>
        <div class="header__nav__title">
        URAM
        </div>
    </a>
    
    {% if body == 'dashboard' %}
    <div class="header__nav__logout-button">
        <a href="/logout">
            <button class="logout-button">Logout</button>
        </a>
    </div>
    {% endif %}

</div>