<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../static/login.css" type="text/css" />
    </head>
    <body>
        <div class="form-warpper">
            <form id="login-form" method="POST">
                <h1 class="form-header">Register</h1>
                <input
                    type="text"
                    class="login-form__input"
                    placeholder="Username"
                    name="username"
                    required
                />
                <input
                    type="text"
                    class="login-form__input"
                    placeholder="Email"
                    name="email"
                    required
                    pattern="[^]+@[^]+[.][a-z]{2,63}$"
                    autocomplete="email"
                    data-error="Please use a valid email address."
                    data-empty="Please fill out this field"
                />
                <input
                    type="password"
                    class="login-form__input"
                    placeholder="Password"
                    name="password"
                    required
                />
                <input
                    type="password"
                    class="login-form__input"
                    placeholder="Confirm Password"
                    name="password2"
                    required
                />

                <select id="role" class="login-form__input login-form__select">
                    <option value="guest">Guest</option>
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>

                <button type="submit" class="login-form__submit">
                    Register
                </button>
            </form>
        </div>
    </body>
</html>
