<div class="form-warpper">
            <form id="login-form" method="POST" action="{{url_for('reg')}}">
                <h1 class="form-header">Register</h1>
                <div class="form-error">
                    {% for error in errors %}
                    <p class="form-error__items">
                        <i class="material-icons  md-18">report_problem</i>
                        {{error}}
                    </p>
                    {% endfor %}
                </div> 
                <input
                    type="text"
                    class="login-form__input"
                    placeholder="Username"
                    name="username"
                    required
                />
                <input
                    type="text"
                    class="login-form__input"
                    placeholder="Email"
                    name="email"
                    required
                    pattern="[^]+@[^]+[.][a-z]{2,63}$"
                    autocomplete="email"
                    data-error="Please use a valid email address."
                    data-empty="Please fill out this field"
                />
                <input
                    type="password"
                    class="login-form__input"
                    placeholder="Password"
                    name="password"
                    required
                />
                <input
                    type="password"
                    class="login-form__input"
                    placeholder="Confirm Password"
                    name="password2"
                    required
                />

                <select
                    id="role"
                    class="login-form__input login-form__select"
                    form="login-form"
                    name = "role"
                    required
                >
                    <option value="">Your role</option>
                    <option value="guest">Guest</option>
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>

                <button type="submit" class="login-form__submit">
                    Register
                </button>
            </form>
        </div>